.header {
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 10px 16px;
  margin-bottom: 10px;
  background-color: rgb(145, 64, 222, 0.5);
}

.form {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  border: none;
}
.input {
  display: inline-block;
  width: 250px;
  padding: 8px 8px 8px 35px;
  border-radius: 5px;
  border-color: transparent;
  outline-color: rgb(98, 12, 101);
}

.input:placeholder-shown {
  outline-color: rgb(240, 88, 245);
}

.btn {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon:hover,
.icon:focus {
  color: rgb(98, 12, 101);
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .input {
    width: 400px;
    padding: 8px 8px 8px 40px;
  }

  .btn {
    left: 10px;
  }
}

/* Styles for Desktop devices */

