.btn {
  display: block;
  width: 120px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: rgb(145, 64, 222, 0.5);
  color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: rgb(98, 12, 101);
}
